page-list {
  .loading:before {
    content:'';
    position: absolute;
    display: block;
    left:0;
    right:0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    z-index:2;
  }
  .loading:after {
    content:'\f1f8';
    font-family: "Ionicons";
    animation: spin 0.5s infinite linear;
    color:#FFF;
    z-index: 2;
    position: absolute;
    top:70px;
    right:25px;
    font-size: 50px;
  }

  agm-map {
    width:100%;
    height: 100%;
  }

  .info-window-wrapper {

    h2 {
      font-size:22px;
      margin:0;
      padding:1px 0 0 0;
    }
  }

  .image {
    display:block;
    max-width:200px !important;
    max-height:200px !important;
    margin:10px auto 5px;
    position: relative;
    right:-13px;
    transition: all 0.33s;
  }

  button.add-marker {
    position:absolute;
    right:48px;
    z-index:2;
    bottom:21px;
    color:#333;
    box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  }

  .main-actions {
    text-align: center;
    width:calc(100% + 15px);
    p {
      display: inline-block;
      cursor: pointer;
    }
  }

  @keyframes spin {
    from {
      transform:rotate(0deg);
      transform-origin:center center;
    }
    to {
      transform:rotate(359deg);
      transform-origin:center center;
    }
  }
}
