<ion-header>
  <ion-navbar>
    <ion-title>Wefox FrontEnd Challenge</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="{ 'loading': isLoading }">
  <button
    ion-button
    class="add-marker"
    color="light"
    (click)="clickAdd()"
  >Add location</button>

  <agm-map
    #map
    [zoom]="3"
    [minZoom]="3"
    [backgroundColor]="'#9dc9ff'"
  >
    <agm-marker
      *ngFor="let marker of markers"
      [latitude]="marker.lat"
      [longitude]="marker.long"
      (markerClick)="markerClicked(infoWindow)"
    >
      <agm-info-window
        #infoWindow
        [disableAutoPan]="false"
      >
        <div class="info-window-wrapper">
          <marker-data
            [marker]="marker"
            (remove)="removeMarker($event)"
          ></marker-data>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</ion-content>
