<ion-card>
    <ion-icon
        ios="md-close-circle"
        md="md-close-circle"
        class="close"
        (click)="closeModal()"
    ></ion-icon>

    <ion-card-header>
        Where have you been?
    </ion-card-header>

    <ion-card-content>
        <ion-item>
            <ion-input
                type="text"
                placeholder="Insert location .."
                #gmapsLocation
                [(ngModel)]="locationName"
            ></ion-input>
        </ion-item>
    </ion-card-content>
</ion-card>
