trip-add-marker {
  background: none;
  height: 160px !important;
  top: 62px !important;

  ion-card {
    max-width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .close {
    font-size: 24px;
    position: absolute;
    right: 19px;
    top: 17px;
  }
}
