<h2>{{ marker.title }}</h2>
<img
  *ngIf="marker.image_url"
  [src]="marker.image_url"
  class="image"
>
<div class="main-actions">
  <p (click)="clickRemove(marker.id)">
    <ion-icon name="md-trash"></ion-icon>
    Remove
  </p>&nbsp;
  <p (click)="toggleEditMode()">
    <ion-icon name="ios-build"></ion-icon>
    Edit
  </p>
</div>
<ul
  class="marker-data"
  [ngClass]="{ 'edit-mode': isEditing }"
>
  <li>{{ marker.id }}</li>
  <li>
    <input
      type="text"
      [(ngModel)]="markerBackup.title"
    >
  </li>
  <li>
    <input
      type="text"
      [(ngModel)]="markerBackup.content"
    ></li>
  <li>{{ markerBackup.lat }}</li>
  <li>{{ markerBackup.long }}</li>
</ul>
<button
  ion-button
  class="save-marker-data"
  (click)="clickUpdate(markerBackup)"
  *ngIf="isEditing"
>Update</button>
<button
  ion-button
  class="discard-marker-changes"
  (click)="clickCancel()"
  color="light"
  *ngIf="isEditing"
>
  Cancel
</button>
