marker-data {

  input {
    pointer-events: none;
    border:solid 1px #FFF;
  }

  .edit-mode {
    input {
      border:solid 1px #999;
      pointer-events: inherit;
    }
  }

  li {
    margin-bottom:2px;
  }

  .save-marker-data {
    margin-left:22px;
    display: block;
    float: left;
  }

  .discard-marker-changes {
    
  }
}
